body{background-color: palegreen}
#wrapper{width: 600px; margin: auto}
#txtUserName{background-color: transparent; border: solid 1px black }

#left, #right:{min-height: 300px}
#left{width: 30%; float:left; background-color: lightsalmon}
#right{width: 70%; float: right; background-color: lightyellow}
#boxTitle{border: solid 1px black; padding: 5px; text-align: center; font-weight: bold}
#boxContent{border: solid 1px black; border-top: none; text-align: center; padding: 5px }
#sayHi{text-align: right}
#listMessages{height: 200px; background-color: aqua; margin-bottom: 15px}
#txtMessage{background-color: transparent; border: solid 1px black}